@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Brand color (Tailwind token) */
  --color-brand: theme(colors.indigo.500);

  /* Layout widths */
  --content-width: 90rem;
  /* max-w-7xl */
  --sidebar-width: 22.5rem;
  /* w-90 */

  /* Derived values */
  --main-width: calc(var(--content-width) - var(--sidebar-width));

  --content-margin: max(0px,
      calc((100vw - var(--content-width)) / 2));
}